
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    backdrop-filter: blur(10px);


}

.modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backdrop-filter: blur( 5px );

    /*background-color: rgba(0, 0, 0, .8);*/
}

.modal_box {
    /*position: fixed;*/
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100vw;
    height: 100vh;*/
    backdrop-filter: blur( 20px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    cursor: auto;
    position: relative;
    width: 80%;
    margin: 0 10%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;

}

.modal_title {
    color: #9E25FC;
    font-size: 30px;

}

.modal_content {
    margin-top: 30px;
    color: #6B6B6B;
    font-size: 16px;

}

.modal_close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;

}


@media screen and (min-width: 800px) {
    .modal_box {
        max-width: 600px;
        margin: 0 30px;
    }
}
